h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

ul,
li {
  list-style: none;
}

body {
  background-color: aqua;
  font-family: Arial, sans-serif;
  color: #333;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__btn {
  display: flex;
  gap: 20px;
}

#content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  text-align: center;
}

.info-block {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}